* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100vh;
  background-color: #222831;
}

section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.app-frame {
  display: flex;
  flex-direction: column;
  width: 645px;
  min-height: 300px;
  background-color: #393e46;
  border-radius: 40px 40px 150px 40px;
  padding: 50px;
}

.app-data {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #222831;
}

form {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.instructions {
  color: #eee;
}

.input-div {
  display: flex;
  flex-direction: column;
}

label {
  color: #eee;
  font-size: 0.85rem;
}

input {
  padding: 10px;
  margin-top: 5px;
  width: 130px;
  background-color: transparent;
  border: 2px solid #222831;
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
  color: #00adb5;
}

input::placeholder {
  color: #eee;
}

button {
  border-radius: 100%;
  background-color: #00adb5;
  border: 2px solid #222831;
  padding: 15px;
}

button:hover {
  cursor: pointer;
}

button[type="submit"] svg path {
  stroke: #222831;
}

.submit-btn {
  position: relative;
  left: 15px;
  top: 65px;
}

.app-results {
  display: none;
  align-items: baseline;
  gap: 50px;
  padding-top: 30px;
  color: #eee;
  font-size: 2rem;
}

.app-results span {
  color: #00adb5;
}

.app-results div p:nth-child(1) {
  text-decoration: underline;
}

.next-birthday {
  padding-top: 30px;
  color: #eee;
}

.theme-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100px;
  height: 100px;
  background-color: #393e46;
  border-radius: 40px 40px 40px 40px;
}

i.fa-sun {
  display: block;
  color: #e4c59e;
}

i.fa-cloud {
  display: none;
  color: #222831;
}

i:hover {
  cursor: pointer;
}
